@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@500&display=swap');

.nav {
    margin-top: 40px;
    width: 95%;
    margin-left: 2.5%;
    background-color: white; 
}
#nav-bar {
    height: 200;
    width: 100%;
    display: flex; 
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top: 20px;
    font: 15px 'Asap Condensed', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0 auto; /* centers text vertically in div */ 
    z-index: 100;
    left: 0;
    top: 0;
    // background-color: rgb(255, 255, 255);

    ul {
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
    
        li {
            margin-top: 15%;
            padding: 18px, 10px;
            
            .nav-text {
                width: 150px;
            }
        }
    }

    .flag {
        margin-left: 15%
    }
    .car {
        margin-left: 24%
    }

    .left-buttons {
        height: 100%;
        width: 170px;
        text-decoration: none;
        text-align: left;
        color: rgb(20, 55, 108);
        &:hover {
            color: rgb(43, 104, 194);
        }
    }

    .options {
        width: 90%;
        // height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .option {
            padding-top: 20px;
            margin-right: 60px;
            cursor: pointer;
            text-decoration: none;
            text-align: left;
            color: 2A5F7B(20, 55, 108);
            &:hover {
                color: rgb(20, 55, 108)
            }
        }

        .hamburger {
            height: 100%;
            padding-left: 10px !important;
            padding-top: 18px !important;
        }
    }

    .active {
        color: #F0672B !important;
    }
}
