.nav-active {
    color:#F0672B !important;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    height: 80px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 0 auto; /* centers text vertically in div */ 
    z-index: 100;
    left: 0px;
    top:15;

    li {
        a {
            text-decoration: none;
            color: rgb(20, 55, 108);
            
            &:hover {
                color: rgb(43, 104, 194);
            } 
        }
    }

    .flag {
        margin-left: 20%
    }
    .car {
        margin-left: 30%
    }
        
    .nav-options {
            padding-left: 25px;
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-gap: 50px;
            list-style-type: none;
    }

    .option { display: block;}

    .right-nav {
        display: flex;
        padding: 0px 25px;
        list-style-type: none;
    }

    .logo {
        margin-right:15px;
        margin-top: 5px
    }

.navigation {
    position: absolute;
    right:50px;
    width:100%;
    height:100%;
    z-index:1000;
    clip-path:circle(25px at calc(100% - 45px) 45px);
    transition:all 500ms ease-in-out;
    }

    .navigation.active {
    position: fixed;
    margin-top: -22px;
    height: 100vh;
    background:#2A5F7B;
    background-image: url(gsb-retro-motif.png);
    clip-path:circle(75%);
    }

    // ** Hamburger button ** //
    .navigation .ham-btn {
    position: absolute;
    top: 43px;
    right: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    }

    .navigation .ham-btn span {
    position:absolute;
    left:50%;
    transform:translate(-50%,-50%);
    width:50%;
    height:3.5px;
    background:#F0672B;
    transition:all 200ms ease-in-out;
    }

    .navigation .ham-btn span:nth-child(1) {
    top:-4%;
    }

    .navigation .ham-btn span:nth-child(2) {
    top:9%;
    }

    .navigation .ham-btn span:nth-child(3) {
    top:22%;
    }

    .navigation.active .ham-btn span:nth-child(1) {
    top:50%;
    transform:translate(-50%,-50%) rotate(45deg);
    }

    .navigation.active .ham-btn span:nth-child(2) {
    display:none;
    }

    .navigation.active .ham-btn span:nth-child(3) {
    top:50%;
    transform:translate(-50%,-50%) rotate(-45deg);
    }

    ////////////////////////
    // OPENED MENU STYLES //
    ////////////////////////

    .inner-left-nav-options {
        display: flex;
        grid-template-columns: repeat(3, auto);
        grid-gap: 0px;
        list-style-type: none;
        margin-top: -76px;
        margin-right:3px;

        li {
            padding: 0px 25px 0px 25px;
            color: white;
            &:hover {
                color: #F0672B;
            }
        }

        .inner-nav-option{
            color: white!important;
        }
        .nav-active {
            color:#F0672B !important;
        }
    }

    // ** Inner larger links  **//
    
    .navigation .links {
    position:absolute;
    top:50%; // change top position to move inner links up and down
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    } 

    .navigation .links a {
    position:relative;
    display:inline-block;
    margin:20px 0px;
    font-size:60px;
    font-weight:600;
    text-decoration:none;
    color:#f5f5f5;
    text-transform:uppercase;
    letter-spacing:5px;
    }

    .navigation .links a:after {
        content:"";
        position:absolute;
        left:0px;
        bottom:-5px;
        height:2px;
        width:0%;
        background:#F0672B;
        transition:all 300ms ease-in-out;
    }

    .navigation .links a:hover:after {
        width:100%;
    }

    // ** inner log ** //
    .inner-logo-container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 94%;
        margin-top: 35px;
        
    }

/////////////
// laptops //
/////////////

    @media screen and (max-width:1440px) {
        .navigation.active {
            width: 93%
        }
}

/////////////////////
// large monitors //
////////////////////

        @media screen and (min-width:1441px) {
            .navigation {
                right: 77px
            }
            .navigation.active {
                width: 92%;
            }

            .inner-logo-container {
            width: 96%;
            }
        }

/////////////////
//larger phones//
/////////////////

    @media screen and (max-width:480px) {
        .navigation {
            right: -5px
        }

        .navigation.active {
            width: 100%;
            position: fixed
        }
        .nav-options {
            display: none;
        }

        .inner-left-nav-options {
            li {
                padding: 560px 25px 0px 40px;
            }
        }

        .mobile-lower-links {
            margin-top: 100%
        }
    }

////////////////////////
// pixel & pixel 2 xl //
////////////////////////

    @media screen and (max-width:480px) {
        .navigation .links {
            top:45%; // change top position to move inner links up and down
        }   
        .logo {
            margin-left: 175px;
        }

        .navigation .links a {
            font-size:50px;
        }

        .inner-logo-container {
            width: 78%;
            
        }

        .inner-left-nav-options {
            li {
                padding: 570px 10px 0px 45px;
            }
        }

        .navigation.active {
            height: 110vh;
        }
    }

//////////////////
// iphone 6,7,8 //
//////////////////
    @media screen and (max-width:375px) {
        .logo {
            margin-left: 150px
        }
    
        .navigation .links {
            top:60%; // change top position to move inner links up and down
        }
    
        .inner-logo-container {
            width: 78%;
        }
    
        .navigation .links {
            top:45%; // change top position to move inner links up and down
        }
    
        .navigation .links a {
            font-size:37px;
        }
    
        .navigation.active {
            height: 110vh;
        }

        .inner-left-nav-options {
            li {
                padding: 420px 10px 0px 35px;
            }
        }
//////////////
// iphone x //
//////////////
        @media screen and (max-width:812px) {
            .inner-left-nav-options {
                li {
                    padding: 520px 10px 0px 35px;
                }
            }
        }
    }


////////////////////////
// Galaxy x5 & Moto G4//
////////////////////////

@media screen and (max-width:360px) {
    .logo {
        margin-left: 130px
    }

    .navigation .links {
        top:60%; // change top position to move inner links up and down
    }

    .inner-logo-container {
        width: 78%;
        margin-top: -62px;
    }

    .navigation .links {
        top:44%; // change top position to move inner links up and down
    }

    .navigation .links a {
        font-size:35px;
    }

    .navigation.active {
        height: 110vh;
    }

    .inner-left-nav-options {
        li {
            padding: 475px 10px 0px 28px;
        }
    }
}

//////////////////
// iphone 5/SE //
/////////////////
@media screen and (max-width:320px) {
    .logo {
        margin-left: 90px
    }

    .inner-logo-container {
        width: 77%;
        margin-top: -58px;
    }

    .navigation .links {
        top:42%; // change top position to move inner links up and down
    }
    
    .navigation .links a {
        font-size:25px;
    }

    .navigation.active {
        height: 117vh;
    }

    .inner-left-nav-options {
        li {
            padding: 420px 10px 0px 17px;
        }
    }
}
}