.footer-container {

    background-size: cover !important;
    -webkit-background-size: cover !important;
    display: block;
    height: 90px;
    


        footer {
            padding-top: 20px;
            // padding-bottom: 20px;
            
            text-align: center;
            position: relative;
    
            a {
                text-decoration: none !important;
                color: white !important;
                &:hover {
                    color: #F0672B !important;
                }
            }
            .upper-link { 
                text-transform:uppercase;
                font-weight: bold !important;
                font-size: 30px !important;  
            
            }
            .lower-link { 
                text-transform:lowercase;
                // 
                font-size: 20px !important;  
            }

            .spacer {
                color: white !important;
                font-weight: 0 !important;
            }

            img {
                width: 50%;
                height: auto;
            }
            .links {
                margin: 18px 0 30px 0;
                padding: 0;
                font-size: 30px;
    
                li {
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    margin-left: 42px;
                    &:first-child { 
                        margin-left: 0; 
                    }
                }
            }
        }
    }
    
    @media screen and (max-width:480px) {
        .footer-container{ display:none }
    }