.image-container {
//    margin-top: 100px;
    width: 15%;
    margin: 0 auto;

    img {
        width: 300px;
        height: auto;
        padding-top: 20px;
        padding-bottom: 30px;
        margin: 0 auto;
    }
}
.carousel-container{
    width: 95%;
    padding-bottom: 40px;
    margin: 0 auto;

    img { 
        height: 400px;
        width: auto
    }

    button {
        background: none!important;
        border: none;
        padding: 50px!important;
        /*optional*/
        // font-family: arial, sans-serif;
        /*input has OS specific font-family*/
        color: #F0672B;
        font-size: 40px;
        text-decoration: underline;
        cursor: pointer;
    }
}
